<div class="col-md-4">
    <div class="shoe-card">
        <div class="shoe-content res-shoe-one">
            <div class="res-shoe-title">
                <h4>Nike</h4>
                <h2>OFF-WHITE x <br> Air Max 97</h2>
                <h3 id="price">$1350</h3>
                <img src="img/shoe-one.png" class="img-fluid mx-auto d-block" alt="">
                <button class="btn btn-purchase">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="shoe-card">
        <div class="shoe-content res-shoe-two">
            <div class="res-shoe-title">
                <h4>Nike</h4>
                <h2>Gore-Tex x <br> Air Force 1</h2>
                <h3 id="price">$110</h3>
                <img src="img/shoe-two.png" class="img-fluid mx-auto d-block" alt="">
                <button class="btn btn-purchase">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="shoe-card">
        <div class="shoe-content res-shoe-three">
            <div class="res-shoe-title">
                <h4>Nike</h4>
                <h2>The Basement x <br> Air Max 90</h2>
                <h3 id="price">$250</h3>
                <img src="img/shoe-three.png" class="img-fluid mx-auto d-block" alt="">
                <button class="btn btn-purchase">Buy Now</button>
            </div>
        </div>
    </div>
</div>