// ########################
// FOOTER PROPERTIES
// ########################
.footer-container {
    border-top: 1.5px solid $gray-800;
}

.footer-content {
    padding: 35px;
}

.footer-links {
    list-style: none;
}

.footer-item {
    display: inline-block;
    padding: 20px;

    a {
        text-decoration: none;
        color: $gray-500;

        &:hover {
            color: $gray-400;
        }
    }
}

.copyright {
    float: right;
    color: $gray-500;

    a {
        float: right;
        font-size: 20px;
    }
}
