* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s ease 0s !important;
  transition: all 0.3s ease 0s !important;
  font-family: 'Josefin Sans', sans-serif;
}

.space-r {
  margin-right: 5rem !important;
}

.featured {
  margin: 50px;
}

.feat-header {
  font-weight: 700;
}

@media (max-width: 1210px) {
  .non-responsive {
    display: none;
  }
  .responsive-picks {
    display: block !important;
  }
  .res-shoe-content img {
    margin-top: -37px !important;
  }
  .lebron17 {
    margin-top: 100px !important;
  }
}

@media (max-width: 990px) {
  .feat-two {
    margin-top: 30px;
  }
  .lebron17 {
    margin-top: 10px !important;
  }
  .lj-two,
  .lj-three {
    margin-top: 30px !important;
  }
  .shoe-preview {
    height: 319px !important;
    background-size: cover !important;
  }
}

@media (max-width: 894px) {
  .header-content p {
    width: 70% !important;
  }
  .header-extras-left,
  .header-extras-right {
    display: none;
  }
  .top-picks {
    margin-top: 100px !important;
  }
}

footer {
  font-weight: 700;
  margin-top: 100px;
  padding: 50px;
}

.navbar-brand {
  font-weight: 700;
  color: #000;
}

.navbar-brand:hover {
  color: #5f5f5f;
}

.navbar-brand img {
  height: 40px;
}

.nav-link {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #5f5f5f;
}

.responsive-picks {
  display: none;
}

.res-shoe-one {
  margin-top: -95px !important;
}

.res-shoe-one:hover {
  margin-top: -125px !important;
}

.res-shoe-one {
  background: -webkit-gradient(linear, left top, right top, from(#d53369), to(#daae51));
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.res-shoe-two {
  background: -webkit-gradient(linear, left top, right top, from(#9ebd13), to(#008552));
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

.res-shoe-three {
  background: -webkit-gradient(linear, left top, right top, from(#fdbb2d), to(#693db9));
  background: linear-gradient(90deg, #fdbb2d 0%, #693db9 100%);
}

.res-shoe-content {
  border-radius: 8px;
  margin-top: 44px;
  -webkit-box-shadow: 0px 0px 46px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 46px 8px rgba(0, 0, 0, 0.3);
  padding: 20px 20px 105px 20px;
}

.res-shoe-content button {
  float: right;
}

.res-shoe-content h4 {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.res-shoe-content h2 {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.res-shoe-content h3 {
  font-size: 20px;
  font-weight: 400;
  color: #e8e8e8;
}

.res-shoe-content img {
  margin-top: -87px;
}

.res-shoe-content:hover {
  margin-top: 15px;
}

.header-content img {
  pointer-events: none;
}

.header-content h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
}

.header-content h1 span {
  font-size: 32px;
}

.header-content p {
  font-size: 1.4em;
  margin: auto;
  width: 50%;
}

.header-extras-left h1 {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 213px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}

.vertical-line-left {
  border-top: 3px solid #000;
  width: 210px;
  margin: -492px 10px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}

.header-extras-right h1 {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
}

.vertical-line-right {
  border-top: 3px solid #000;
  width: 110px;
  margin: -26px -116px;
}

.top-picks {
  background: url("/img/our-picks.png");
  padding: 50px;
  min-height: 550px;
  margin-top: 600px;
}

.category-txt {
  color: #fff;
  margin-top: 76px;
}

.category-txt h1 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
}

.shoe-one {
  margin-top: -95px !important;
}

.shoe-one:hover {
  margin-top: -125px !important;
}

.shoe-one {
  background: -webkit-gradient(linear, left top, right top, from(#d53369), to(#daae51));
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.shoe-two {
  background: -webkit-gradient(linear, left top, right top, from(#9ebd13), to(#008552));
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

.shoe-three {
  background: -webkit-gradient(linear, left top, right top, from(#fdbb2d), to(#693db9));
  background: linear-gradient(90deg, #fdbb2d 0%, #693db9 100%);
}

.shoe-two {
  background-color: red;
}

.sub-shoe {
  margin-top: 44px;
}

.sub-shoe:hover {
  margin-top: 15px;
}

.shoe-content {
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 46px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 46px 8px rgba(0, 0, 0, 0.3);
  padding: 20px 20px 105px 20px;
}

.shoe-content button {
  float: right;
}

.shoe-content h4 {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.shoe-content h2 {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.shoe-content h3 {
  font-size: 20px;
  font-weight: 400;
  color: #e8e8e8;
}

.shoe-content img {
  height: 207px;
  margin-top: -87px;
}

.btn-purchase {
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 52px;
  background-color: #38445f !important;
}

.btn-purchase:hover {
  background-color: #465473 !important;
}

.race-content {
  margin-top: 50px;
  border-radius: 8px;
  padding: 460px 0px 30px 34px;
  background: url("/img/vaporfly.jpg");
  background-position: center;
  text-transform: uppercase;
}

.race-content h1 {
  color: #ffacbb;
  font-size: 4em;
  font-weight: 700;
}

.race-content p {
  color: #505050;
}

.btn-buy-now {
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #38445f !important;
}

.btn-buy-now:hover {
  background-color: #465473 !important;
}

.feat-one {
  border-radius: 8px;
  padding: 460px 0px 30px 34px;
  text-transform: uppercase;
  background: url("/img/feat-one.jpg") no-repeat;
}

.feat-one h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 700;
}

.feat-two {
  border-radius: 8px;
  padding: 460px 0px 30px 34px;
  text-transform: uppercase;
  background: url("/img/feat-two.jpg") no-repeat;
}

.feat-two h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 700;
}

.new-release {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(black)), url("/img/newrelease.jpg") no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 100%), url("/img/newrelease.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.release-content {
  margin-top: 220px;
}

.release-content h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;
  color: #fff;
}

.new-shoes {
  margin-top: 30px;
}

.new-content span {
  float: right;
}

.new-content p {
  color: #a0a0a0;
}

.new-content a {
  color: #000;
  text-decoration: none;
}

.new-content a:hover {
  color: #000;
  opacity: 0.7;
  text-decoration: none;
}

.shoe-preview {
  background: url("/img/newshoe.png") no-repeat;
  background-position: center;
  background-size: contain;
  height: 153px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.shoe-preview:hover {
  opacity: 0.7;
}

.lebron17-img {
  margin-top: 60px;
}

.lebron17 {
  margin-top: 300px;
}

.lebron17 h3 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.lebron17 h1 {
  font-size: 4em;
  font-weight: 700;
}

.lj-one {
  border-radius: 8px;
  padding: 260px 0px 30px 34px;
  background-position: center;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#1b1b1b3b)), url("/img/lj-tank.png") no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1b1b1b3b 100%), url("/img/lj-tank.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.lj-one h1 {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

.lj-two {
  border-radius: 8px;
  padding: 260px 0px 30px 34px;
  background-position: center;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#1b1b1b3b)), url("/img/lj-tshirt.png") no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1b1b1b3b 100%), url("/img/lj-tshirt.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.lj-two h1 {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

.lj-three {
  border-radius: 8px;
  padding: 260px 0px 30px 34px;
  background-position: center;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#1b1b1b3b)), url("/img/lj-shorts.png") no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1b1b1b3b 100%), url("/img/lj-shorts.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.lj-three h1 {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */