<!-- Include header -->
<% include ../partials/header %>

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header-content">
                    <img src="img/FN-Header.png" class="img-fluid mx-auto d-block" alt="">
                    <h1 class="text-center">
                        Travis Scott <span>x</span> Jordan
                    </h1>
                    <p class="text-center">
                        On top of a glow-in-the-dark sole, a perforated reflective underlay
                        beneath the olive suede upper shimmers and steals the spotlight
                        with a camera’s flash.
                    </p>
                </div>
                <div class="header-extras-left">
                    <h1>
                        B̴̛͚̏̈͑̾̊́́̾͘͝r̷̡̢̙̬͓̬͔̗͓̟͐̌̅̀̈́̓̍͠ͅa̵͙͆̏̃ų̴̧͈͎̰̣͖̣͚̑̾͛͐̒̒͘s̶͎̚ ̶̡̭̥̻͐́̄i̷͖͕̥̖͉̹̤͓͔͒̉̾͊̅͝s̶̖̟̱͓̖̫̉̍̌́̊̄͂̂̍͋͠ ̵͓͚̭̦̹̻͍͔̩̰̪̩̭̯̿̊͊̆̈͝a̵̛̖̭̰͈̟̤͈̜̖̻̝̱̩̣̔͒̌́̽̌͊͊̓͆͜͝w̵̭͍̗̪͔̜̐̃̽̎è̸̛̘̰͎̪̈͆͂̾͛̃͊͋̍͒̇͠s̴̞͖̀̇̄̅ö̸̭̻̦͚̫͕̞̇̎̓́̾́̆̇̅͘͝͝m̸̧͉͇̪̞͓̙̙̰̊̀̽͒̈̈͛͛̇̓͛̕͘͜͜e̵͎̣̤̩̝̯̐̾͌̄͂͆̿͋̀̏̏͘

                    </h1>
                    <hr class="vertical-line-left">
                </div>

                <div class="header-extras-right float-right">
                    <h1>
                        H̸̰͌̾i̵̙̼̤̥̳͉͖̱͔̘̅͜͜c̵̢̢̗͍̟̹̯̳̗͍̭͎̤͚̐ ̸̨̧̥̞̜͇͈̠̘̼́͑Ē̸̥̳̘̻͖͈̝̻͎̰̥̋͛̓̀ͅt̴̟̜̭̖̬̗̭͖̂̉̎̀̾̈́̅̏͐͝͠ ̴̨̺̪̟͇̦̭̖̠͉͎̄̿̋̕͠Ņ̵͔̰̫̺̤̖̿̋́̀͝u̷̥̣̩̝̽̓̌̒̾͋̾̅̕͠ͅn̶̦̦͈͛̀́c̴̺̲̣͉̥̼͕͂̎͗̀͆̽͆͝ͅ

                    </h1>
                    <hr class="vertical-line-right">
                </div>
            </div>
        </div>
    </div>
</header>

<section class="top-picks">
    <div class="container">
        <div class="non-responsive">
            <div class="row">
                <div class="col-lg-3 space-r">
                    <div class="shoe-card">
                        <div class="shoe-content shoe-one">
                            <h4>Nike</h4>
                            <h2>OFF-WHITE x Air Max 97</h2>
                            <h3 id="price">$1350</h3>
                            <img src="img/shoe-one.png" alt="">
                            <button class="btn btn-purchase">Buy Now</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 space-r">
                    <div class="shoe-card">
                        <div class="shoe-content sub-shoe shoe-two">
                            <h4>Nike</h4>
                            <h2>Gore-Tex x Air Force 1</h2>
                            <h3 id="price">$110</h3>
                            <img src="img/shoe-two.png" alt="">
                            <button class="btn btn-purchase">Buy Now</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 space-r">
                    <div class="shoe-card">
                        <div class="shoe-content sub-shoe shoe-three">
                            <h4>Nike</h4>
                            <h2>The Basement x Air Max 90</h2>
                            <h3 id="price">$250</h3>
                            <img src="img/shoe-three.png" alt="">
                            <button class="btn btn-purchase">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="responsive-picks">
            <div class="row">
                <% include ../partials/res-top-pick %>
            </div>
        </div>
</section>

<section class="race-advert">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="race-content">
                    <h1>Become <br> Usain Bolt</h1>
                    <p>Introducing Nike Zoom <br> Vaporfly Elite</p>
                    <button class="btn btn-buy-now">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feat-header">
                    <h1>Featured</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feat-content feat-one">
                    <h1>Air Force 1 Shadow</h1>
                    <button class="btn btn-buy-now">Buy Now</button>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="feat-content feat-two">
                    <h1>Air Max 270 Nike React</h1>
                    <button class="btn btn-buy-now">Buy Now</button>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Include footer -->
<% include ../partials/footer %>