<!-- Include header -->
<% include ../partials/header %>

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header-content">
                    <img src="img/FN-Header.png" class="img-fluid mx-auto d-block" alt="">
                    <h1 class="text-center">
                        Travis Scott <span>x</span> Jordan
                    </h1>
                    <p class="text-center">
                        On top of a glow-in-the-dark sole, a perforated reflective underlay
                        beneath the olive suede upper shimmers and steals the spotlight
                        with a camera’s flash.
                    </p>
                </div>
                <div class="header-extras-left">
                    <h1>
                        B̴̛͚̏̈͑̾̊́́̾͘͝r̷̡̢̙̬͓̬͔̗͓̟͐̌̅̀̈́̓̍͠ͅa̵͙͆̏̃ų̴̧͈͎̰̣͖̣͚̑̾͛͐̒̒͘s̶͎̚ ̶̡̭̥̻͐́̄i̷͖͕̥̖͉̹̤͓͔͒̉̾͊̅͝s̶̖̟̱͓̖̫̉̍̌́̊̄͂̂̍͋͠ ̵͓͚̭̦̹̻͍͔̩̰̪̩̭̯̿̊͊̆̈͝a̵̛̖̭̰͈̟̤͈̜̖̻̝̱̩̣̔͒̌́̽̌͊͊̓͆͜͝w̵̭͍̗̪͔̜̐̃̽̎è̸̛̘̰͎̪̈͆͂̾͛̃͊͋̍͒̇͠s̴̞͖̀̇̄̅ö̸̭̻̦͚̫͕̞̇̎̓́̾́̆̇̅͘͝͝m̸̧͉͇̪̞͓̙̙̰̊̀̽͒̈̈͛͛̇̓͛̕͘͜͜e̵͎̣̤̩̝̯̐̾͌̄͂͆̿͋̀̏̏͘

                    </h1>
                    <hr class="vertical-line-left">
                </div>

                <div class="header-extras-right float-right">
                    <h1>
                        H̸̰͌̾i̵̙̼̤̥̳͉͖̱͔̘̅͜͜c̵̢̢̗͍̟̹̯̳̗͍̭͎̤͚̐ ̸̨̧̥̞̜͇͈̠̘̼́͑Ē̸̥̳̘̻͖͈̝̻͎̰̥̋͛̓̀ͅt̴̟̜̭̖̬̗̭͖̂̉̎̀̾̈́̅̏͐͝͠ ̴̨̺̪̟͇̦̭̖̠͉͎̄̿̋̕͠Ņ̵͔̰̫̺̤̖̿̋́̀͝u̷̥̣̩̝̽̓̌̒̾͋̾̅̕͠ͅn̶̦̦͈͛̀́c̴̺̲̣͉̥̼͕͂̎͗̀͆̽͆͝ͅ

                    </h1>
                    <hr class="vertical-line-right">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Include footer -->
<% include ../partials/footer %>