<!-- Include header -->
<% include ../partials/header %>

<style>
    nav.navbar.navbar-expand-lg {
        background-color: #000;
    }

    .navbar-brand {
        color: #fff !important;
    }

    .nav-link {
        color: #fff !important;
    }

    button.navbar-toggler {
        background-color: white;
    }
</style>

<header class="new-release">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="release-content">
                    <h1 class="text-center">New Releases</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="new-shoes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feat-header">
                    <h1>Releases</h1>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="new-content">
                    <a href="">
                        <div class="shoe-preview" data-toggle="tooltip" data-placement="top" title="Click to purchase"></div>
                    </a>
                    <h4>
                        <a href="">
                            Off-White X <br> Air Max 97
                            <span id="price">$1350</span>
                        </a>
                    </h4>
                    <p>Men's Shoe</p>
                </div>
            </div>



        </div>
    </div>
</section>




<!-- Include footer -->
<% include ../partials/footer %>