@mixin shoe-card-text {
    color: $pure-white;
    font-weight: 600;
    text-transform: uppercase;
}

@mixin btn-purchase {
    color: $pure-white !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin featured-items {
    border-radius: 8px;
    padding: 460px 0px 30px 34px;
    text-transform: uppercase;

    h1 {
        color: $pure-white;
        font-size: 4em;
        font-weight: 700;
    }
}

@mixin featured-two {
    border-radius: 8px;
    padding: 260px 0px 30px 34px;
    background-position: center;
    text-transform: uppercase;

    h1 {
        color: $pure-white;
        font-size: 1em;
        font-weight: 700;
    }
}
