@media (max-width: 1210px) {
    // Non-res
    .non-responsive {
        display: none;
    }
    // Responsive
    .responsive-picks {
        display: block !important;
    }
    .res-shoe-content {
        img {
            margin-top: -37px !important;
        }
    }

    // Lebron17
    .lebron17 {
        margin-top: 100px !important;
    }
}

@media (max-width: 990px) {
    // Featured
    .feat-two {
        margin-top: 30px;
    }
    // Lebron17
    .lebron17 {
        margin-top: 10px !important;
    }

    .lj-two,
    .lj-three {
        margin-top: 30px !important;
    }

    //New Release
    .shoe-preview {
        height: 319px !important;
        background-size: cover !important;
    }
}

@media (max-width: 894px) {
    // Header
    .header-content p {
        width: 70% !important;
    }

    .header-extras-left,
    .header-extras-right {
        display: none;
    }

    // Top Picks
    .top-picks {
        margin-top: 100px !important;
    }
}
