// ########################
// COLOR VARIABLES
// ########################
$pure-white: #fff;
$gray-400: #b7b7b7;
$gray-500: #888888;
$gray-600: #525252;
$gray-800: #353535;
$faded-gray: #000000d1;

$dark-slate-gray-300: #262d47;
$dark-slate-gray-400: #1c2238;

$authentication: #7dafe2;
$green-400: #0ed45e;
$error: #ff7373;
$success: #32cc53;
