// ########################
// COLOR VARIABLES
// ########################
$pure-white: #fff;
$gray-300: #e8e8e8;
$pure-black: #000;

// ########################
// INTERACTIVE VARIABLES
// ########################
$shoe-purchase: #38445f;
